.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003366;
  padding: 10px 20px;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 80px;
  margin-right: 10px;
}

.logo-text {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.2rem;
}

.nav a:hover {
  text-decoration: underline;
}
